<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="Notebook" content="Get your college study material here." />
  <meta name="keywords" content="Notebook,notes,malnad notes,thenotebook,the notebook,note book, the note book," />
  <meta name="Notebook" content="notes" />

  <link rel="stylesheet" href="styles/main.css" />
  <link rel="icon" href="assets/favicon.png" type="image/x-icon" />
  <title>Notebook</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kelly+Slab&family=Satisfy&family=Sriracha&display=swap" rel="stylesheet" />
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "BreadcrumbList",
      "itemListElement": [{
          "@type": "ListItem",
          "position": 1,
          "name": "1st year",
          "item": "https://www.thenotebook.in/1styear"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "2nd year",
          "item": "https://www.thenotebook.in/2ndyear"
        },
        {
          "@type": "ListItem",
          "position": 3,
          "name": "3rd year",
          "item": "https://www.thenotebook.in/3rdyear"
        },
        {
          "@type": "ListItem",
          "position": 4,
          "name": "4th year",
          "item": "https://www.thenotebook.in/4thyear"
        }
      ]
    }
  </script>
</head>
<header>
  <div class="container1">
    <a href="/" class="logo">
      <img class="logo-img" src="assets/Untitled-43.png" />
      <h2 class="logo-name">Notebook</h2>
    </a>
    <ul class="side-bar">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li>
        <img class="bars" src="assets/bars-white.png" />
      </li>
    </ul>
  </div>
</header>
<div class="dropdown">
  <ul class="name">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="js/script.js"></script>

</html>