<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="icon" href="assets/favicon.png" type="image/x-icon" />
    <title>Notebook</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kelly+Slab&family=Satisfy&family=Sriracha&display=swap"
      rel="stylesheet"
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "name": "1st year",
            "item": "https://www.thenotebook.in/1styear"
          },
          {
            "@type": "ListItem",
            "position": 2,
            "name": "2nd year",
            "item": "https://www.thenotebook.in/2ndyear"
          },
          {
            "@type": "ListItem",
            "position": 3,
            "name": "3rd year",
            "item": "https://www.thenotebook.in/3rdyear"
          },
          {
            "@type": "ListItem",
            "position": 4,
            "name": "4th year",
            "item": "https://www.thenotebook.in/4thyear"
          }
        ]
      }
    </script>
  </head>
  <header>
    <div class="container1">
      <a href="/" class="logo">
        <img class="logo-img" src="assets/Untitled-43.png" />
        <h2 class="logo-name">Notebook</h2>
      </a>
      <ul class="side-bar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li>
          <img class="bars" src="assets/bars-white.png" />
        </li>
      </ul>
    </div>
  </header>
  <div class="dropdown">
    <ul class="name">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"
  ></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const menu_bar = document.querySelector(".side-bar .bars");
      const dropDown = document.querySelector(".dropdown");
      const dropDown_name = document.querySelector(".name");

      const sem_button = document.querySelector(".i");

      menu_bar.onclick = function () {
        dropDown.classList.toggle("open");
        dropDown_name.classList.toggle("show");
      };
      // ------------------------------------------------------------------------------dropDown---------------------------------------------
      const subjectButtons = document.querySelectorAll(".subj_btn2");
      const labButtons = document.querySelectorAll(".lab_btn2");
      const modules = document.querySelectorAll(".modules");
      const lab = document.querySelectorAll(".lab");

      function toggleDropdown(buttons, elements, otherElements) {
        buttons.forEach((button, index) => {
          let isDropdownVisible = false;

          button.addEventListener("click", () => {
            elements.forEach((el, i) => {
              const shouldToggle = i === index;

              if (shouldToggle) {
                if (!isDropdownVisible) {
                  const buttonRect = button.getBoundingClientRect();
                  el.style.top = buttonRect.bottom + "px";
                }

                el.classList.toggle("showup");
                isDropdownVisible = !isDropdownVisible;
              } else {
                el.classList.remove("showup");
              }
            });

            // Close any open dropdowns in the otherElements
            otherElements.forEach((el) => {
              el.classList.remove("showup");
            });
          });
        });
      }

      toggleDropdown(subjectButtons, modules, lab);
      toggleDropdown(labButtons, lab, modules);
      // ------------------------------------------------------------------------------dropDown---------------------------------------------

      const moduleLinks = document.querySelectorAll(".modules > li");
      const chapters = document.querySelectorAll(".chapters");

      moduleLinks.forEach((moduleLink, index) => {
        moduleLink.addEventListener("click", function (event) {
          chapters[index].classList.toggle("clickshow");
        });
      });
      //---------------------------sem dropdown button -------------------------------------
      const branches = document.querySelectorAll(".btn2");
      const semester = document.querySelectorAll(".sem");

      document.addEventListener("click", function (event) {
        // Check if the clicked element is not one of the .btn2 buttons
        if (!event.target.classList.contains("btn2")) {
          // Clicked outside of .btn2 buttons, remove "popup" class from all .sem elements
          semester.forEach((sem) => {
            sem.classList.remove("popup");
          });
        }
      });

      branches.forEach((btn, index) => {
        btn.addEventListener("click", function (event) {
          event.stopPropagation(); // Prevent the click event from propagating to the document
          // Toggle "popup" class on all .sem elements
          semester.forEach((sem, i) => {
            if (i === index) {
              sem.classList.toggle("popup");
            } else {
              sem.classList.remove("popup");
            }
          });
        });
      });
      // _______________________________aboout page footer____________________________________
      const currentPage = window.location.pathname;

      if (currentPage === "/about") {
        // If the current page is "about," add the "notop" class to the ".f" element
        const fElement = document.querySelector(".f");
        fElement.classList.add("notop");
      }
    });

    // -------------------------------------------------------------------get pagesssss----------------------------------------------------------------
  </script>
</html>
