<%- include("../../partials/header"); -%>
<body>
  <!-- __________________________________Subjects____________________________________ -->

  <h2 class="head subj s1">Subjects</h2>
  <div class="subjects">
    <button class="subj_btn2 sb1">
      Applied Geotechnical Engineering - 601
    </button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s2">
    <button class="subj_btn2 sb2">Design of Steel Structures - 602</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s3">
    <button class="subj_btn2 sb3">
      Irrigation Engineering & Hydraulic Structures - 603
    </button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s4">
    <button class="lab_btn2 sb4">CAD Laboratory - 604</button>
    <ul class="lab">
      <li>
        <a class="lab-manual">Lab-manual</a>
      </li>
    </ul>
  </div>

  <div class="subjects s5">
    <button class="lab_btn2 sb5">Advanced Survey Training - 605</button>
    <ul class="lab">
      <li>
        <a class="lab-manual">Lab-manual</a>
      </li>
    </ul>
  </div>

  <div class="subjects s6">
    <button class="subj_btn2 sb6">Professional Elective - 1</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s6">
    <button class="subj_btn2 sb6">Professional Elective - 2</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s6">
    <button class="subj_btn2 sb6">Open Elective-1</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>
</body>
<%- include("../../partials/footer") -%>
