<%- include("../partials/header") -%>
<form action="/" method="post">
<body>
  <div class="yrcon2">
    <div class="m m1">
      <button class="btn3">C-Cycle</button>
    </div>
    <div class="m m2">
      <button class="btn3">P-Cycle</button>
      <!-- <ul class="sem">
          <li class="first-sem">1st sem</li>
          <li class="second-sem">2nd sem</li>
        </ul> -->
    </div>
  </div>
</form>
</body>
<%- include("../partials/footer") -%>
