<%- include("../partials/header") -%>
<body>
  <div class="yrcon2">
    <div class="m m1">
      <a class="btn3" href="c_cycle"><button>C-Cycle</button></a>
    </div>
    <div class="m m2">
      <a class="btn3" href="p_cycle"><button>P-Cycle</button></a>
    </div>
  </div>
</body>
<%- include("../partials/footer") -%>
