<%- include("../partials/header"); -%>
<div class="subjects s5">
  <button class="subj_btn2 sb5">Physics</button>
  <ul class="modules">
    <li>
      Module-1
      <ul class="chapters">
        <li><a href="#">Chapter-1</a></li>
        <li><a href="#">Chapter-2</a></li>
      </ul>
    </li>
    <li>
      Module-2
      <ul class="chapters">
        <li><a href="#">Chapter-1</a></li>
        <li><a href="#">Chapter-2</a></li>
      </ul>
    </li>
    <li>
      Module-3
      <ul class="chapters">
        <li><a href="#">Chapter-1</a></li>
        <li><a href="#">Chapter-2</a></li>
      </ul>
    </li>
    <li>
      Module-4
      <ul class="chapters">
        <li><a href="#">Chapter-1</a></li>
        <li><a href="#">Chapter-2</a></li>
      </ul>
    </li>
  </ul>
</div>

<!-- <div class="subjects s6">
  <button class="lab_btn2 sb6">C Laboratory - 306</button>
  <ul class="lab">
    <li>
      <a class="lab-manual" href="#" target="_blank">Lab-manual</a>
    </li>
  </ul>
</div> -->
<%- include("../partials/footer"); -%>
