<%- include("partials/header") -%>

<div class="about_con">
  <img class="about_img" src="assets/giphy_5.gif" />

  <div class="about_div text1">
    <h1>About</h1>
    <h2>
      We provide notes, ensuring that they are easily accessible to everyone
      without any charge.
    </h2>
  </div>
</div>

<div class="team_div">
  <div class="team text1">
    <h1>Team</h1>
    <h2>
      We think that staying anonymous benefits both of us, creating a space for
      open and honest communication.
    </h2>
  </div>

  <div class="mission text1">
    <h1>Mission</h1>
    <h2>
      We collect resources from students directly and ensure that they are
      easily accessible.
    </h2>
  </div>
</div>

<%- include("partials/footer") -%>
