<%- include("partials/header") -%>
<div class="about_con">
  <img class="about_img" src="assets/giphy_5.gif" />

  <div class="about_div text1">
    <h1>About us</h1>
    <h2>
      We provide quality and complete notes for all subjects . All the notes
      provided are completely free of cost and easy to access.
    </h2>
  </div>
</div>

<div class="team_div">
  <div class="team text1">
    <h1>Team</h1>
    <h2>
      Notebook is run by a bunch of notorious gangsters and as of now we prefer
      to be anonymous. Just like peaky blinders limited We are notebook visible
      unlimited
    </h2>
  </div>

  <div class="mission text1">
    <h1>Mission</h1>
    <h2>
      We try to gather the resources from students themselves and make sure it
      is easily accessible . We call it: "Notebook company unlimited".
    </h2>
  </div>
</div>

<%- include("partials/footer") -%>
