<%- include("partials/header") -%>

<div class="contact1">
  <img class="cont_back" src="assets/contact-back.jpg" />
  <a href="mailto:contact@gmail.com">contactnotebookoffical@gmail.com</a>
</div>
<div class="contact2">
  <h2 style="color: black">"Suggestions? Or Feedback? Feel free to share"</h2>
  <h3>contactnotebookoffical@gmail.com</h3>
  <h2><a href="mailto:contactnotebookoffical%40gmail.com">send mail</a></h2>
</div>
<%- include("partials/footer") -%>
