<%- include("partials/header") -%>

<body>
  <h2 class="head notes">Notes</h2>

  <div class="yrcon">
    <a href="1styear"
      ><div class="i i1"><button class="btn1">1st year</button></div></a
    >
    <a href="2ndyear"
      ><div class="i i2"><button class="btn1">2nd year</button></div></a
    >
    <a href="3rdyear"
      ><div class="i i3"><button class="btn1">3rd year</button></div></a
    >
    <a href="4thyear"
      ><div class="i i4"><button class="btn1">4th year</button></div></a
    >
  </div>

  <h2 class="head anounce">Announcements</h2>

  <div class="aoun">
    <!-- <img src="./assets/right_arrow.png" class="arrow-img" /> -->
    <p class="announcements">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
      dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
      nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
      enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
      felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
      elementum semper nisi.
    </p>
  </div>

  <div class="features-body">
    <div class="features">
      <h2>PROJECTS</h2>
      <h2>OPINIONS</h2>
      <h2>COMPLAINTS</h2>
      <h2>LOST</h2>
      <h2>FOUND</h2>
      <h2>CLUB TICKETS</h2>
    </div>
  </div>
</body>
<%- include("partials/footer") -%>
