<%- include("partials/header") -%>

<body>
  <h2 class="head notes">Notes</h2>

  <div class="yrcon">
    <a href="1styear"
      ><div class="i i1"><button class="btn1">1st year</button></div></a
    >
    <a href="2ndyear"
      ><div class="i i2"><button class="btn1">2nd year</button></div></a
    >
    <a href="3rdyear"
      ><div class="i i3"><button class="btn1">3rd year</button></div></a
    >
    <a href="4thyear"
      ><div class="i i4"><button class="btn1">4th year</button></div></a
    >
  </div>

  <h2 class="head anounce">Announcements</h2>

  <div class="aoun">
    <!-- <img src="./assets/right_arrow.png" class="arrow-img" /> -->
    <p class="announcements">Launched on sep 16 23:12</p>
  </div>

  <div class="features">
    <a>PROJECTS</a>
    <a>OPINIONS</a>
    <a>COMPLAINTS</a>
    <a>LOST</a>
    <a>FOUND</a>
    <a>CLUB TICKETS</a>
  </div>
</body>
<%- include("partials/footer") -%>
