<%- include("../partials/header"); -%>

<body>
  <div class="yrcon1">
    <div class="b b1">
      <button class="btn2">CS</button>
      <div class="sem cs_sem">
        <a href="/3rd_sem_cs">
          <button class="first-sem">3rd sem</button>
        </a>
        <a href="4th_sem_cs">
          <button class="second-sem">4th sem</button>
        </a>
      </div>
    </div>
    <div class="b b2">
      <button class="btn2">EC</button>
      <div class="sem">
        <a href="/3rd_sem_ec">
          <button class="first-sem">3rd sem</button>
        </a>
        <a href="/4th_sem_ec">
          <button class="second-sem">4th sem</button>
        </a>
      </div>
    </div>
    <div class="b b3">
      <button class="btn2">EEE</button>
      <div class="sem">
        <a href="/3rd_sem_eee">
          <button class="first-sem">3rd sem</button>
        </a>
        <a href="/4th_sem_eee">
          <button class="second-sem">4th sem</button>
        </a>
      </div>
    </div>
    <div class="b b4">
      <button class="btn2">IS</button>
      <div class="sem">
        <a href="/3rd_sem_is">
          <button class="first-sem">3rd sem</button>
        </a>
        <a href="/4th_sem_is">
          <button class="second-sem">4th sem</button>
        </a>
      </div>
    </div>
    <div class="b b5">
      <button class="btn2">EI</button>
      <div class="sem">
        <a href="/3rd_sem_ei">
          <button class="first-sem">3rd sem</button>
        </a>
        <a href="/4th_sem_ei">
          <button class="second-sem">4th sem</button>
        </a>
      </div>
    </div>
    <div class="b b6">
      <button class="btn2">CV</button>
      <div class="sem">
        <a href="/3rd_sem_cv">
          <button class="first-sem">3rd sem</button>
        </a>
        <a href="/4th_sem_cv">
          <button class="second-sem">4th sem</button>
        </a>
      </div>
    </div>
    <div class="b b7">
      <button class="btn2">MECH</button>
      <div class="sem">
        <a href="/3rd_sem_mech">
          <button class="first-sem">3rd sem</button>
        </a>
        <a href="/4th_sem_mech">
          <button class="second-sem">4th sem</button>
        </a>
      </div>
    </div>
  </div>
  <div class="subjects s6">
    <button class="subj_btn2 sb6">Universal Human Values - UHV</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">intro</a></li>
          <li><a href="#">somesome</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">intro</a></li>
          <li><a href="#">somesome</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">intro</a></li>
          <li><a href="#">somesome</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">intro</a></li>
          <li><a href="#">somesome</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="subjects s6">
    <button class="subj_btn2 sb6">Biology for Engineers - BLE</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">intro</a></li>
          <li><a href="#">somesome</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">intro</a></li>
          <li><a href="#">somesome</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">intro</a></li>
          <li><a href="#">somesome</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">intro</a></li>
          <li><a href="#">somesome</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s6">
    <button class="subj_btn2 sb6">Kannada - KNS</button>
    <ul class="modules">
      <li>
        Samskruthika Kannada
        <ul class="chapters">
          <li><a href="#">intro</a></li>
          <li><a href="#">somesome</a></li>
        </ul>
      </li>
      <li>
        Balake Kannada
        <ul class="chapters">
          <li><a href="#">intro</a></li>
          <li><a href="#">somesome</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="subjects s6">
    <button class="subj_btn2 sb6">Bridge course Mathematics - BCM</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">intro</a></li>
          <li><a href="#">somesome</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">intro</a></li>
          <li><a href="#">somesome</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">intro</a></li>
          <li><a href="#">somesome</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">intro</a></li>
          <li><a href="#">somesome</a></li>
        </ul>
      </li>
    </ul>
  </div>
</body>

<%- include("../partials/footer"); -%>
