<%- include("../partials/header"); -%>

<body>
  <div class="yrcon1">
    <div class="b b1">
      <button class="btn2">CS</button>
      <div class="sem cs_sem">
        <a href="/5th_sem_cs">
          <button class="first-sem">5th sem</button>
        </a>
        <a href="/6th_sem_cs">
          <button class="second-sem">6th sem</button>
        </a>
      </div>
    </div>
    <div class="b b2">
      <button class="btn2">EC</button>
      <div class="sem">
        <a href="/5th_sem_ec">
          <button class="first-sem">5th sem</button>
        </a>
        <a href="/6th_sem_ec">
          <button class="second-sem">6th sem</button>
        </a>
      </div>
    </div>
    <div class="b b3">
      <button class="btn2">EEE</button>
      <div class="sem">
        <a href="/5th_sem_eee">
          <button class="first-sem">5th sem</button>
        </a>
        <a href="/6th_sem_eee">
          <button class="second-sem">6th sem</button>
        </a>
      </div>
    </div>
    <div class="b b4">
      <button class="btn2">IS</button>
      <div class="sem">
        <a href="/5th_sem_is">
          <button class="first-sem">5th sem</button>
        </a>
        <a href="/6th_sem_is">
          <button class="second-sem">6th sem</button>
        </a>
      </div>
    </div>
    <div class="b b5">
      <button class="btn2">EI</button>
      <div class="sem">
        <a href="/5th_sem_ei">
          <button class="first-sem">5th sem</button>
        </a>
        <a href="/6th_sem_ei">
          <button class="second-sem">6th sem</button>
        </a>
      </div>
    </div>
    <div class="b b6">
      <button class="btn2">CV</button>
      <div class="sem">
        <a href="/5th_sem_cv">
          <button class="first-sem">5th sem</button>
        </a>
        <a href="/6th_sem_cv">
          <button class="second-sem">6th sem</button>
        </a>
      </div>
    </div>
    <div class="b b7">
      <button class="btn2">MECH</button>
      <div class="sem">
        <a href="/5th_sem_mech">
          <button class="first-sem">5th sem</button>
        </a>
        <a href="/6th_sem_mech">
          <button class="second-sem">6th sem</button>
        </a>
      </div>
    </div>
  </div>
</body>

<%- include("../partials/footer"); -%>
