<%- include("../../partials/header"); -%>
<body>
  <!-- __________________________________Subjects____________________________________ -->

  <h2 class="head subj">Subjects</h2>
  <div class="subjects s1">
    <button class="subj_btn2 sb1">Statistics and Probability - 401</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/14mMMs2ZyqmID60Qb5o994scJg_Oz7Jvc/view?usp=sharing"
              target="_blank"
              >Correlation and Regression</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1ZO65MfWxJwniDpFkbs2uyERQUNpnjcF6/view?usp=sharing"
              target="_blank"
              >Random variable</a
            >
          </li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/1xOou2uEqsNiOm4wRBh9TXrVsHp1x1oC-/view?usp=drive_link"
              target="_blank"
              >Continuous Random Variable</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1Uw_eP8jb-CfxeAnPAaEWKXqUy3vvs-Fx/view?usp=sharing"
              target="_blank"
              >Applications</a
            >
          </li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/1hJt3ChdI6_wTj1bO26TrwmX5B52Gkxcs/view?usp=sharing"
              target="_blank"
              >Mod-3 Notes-1</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1FJMW3zPJPCdQi_jL-vlHslka6WFcH6ee/view?usp=sharing"
              target="_blank"
              >Mod-3 Notes-2</a
            >
          </li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/1W616A_-w5KOKg62xrWZue0ICNcvHYRyP/view?usp=sharing"
              target="_blank"
              >Module 4 complete notes</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1rBbyQVNoo4LLan-QMW8_N8orKoZmdkCy/view?usp=sharing"
              target="_blank"
              >Applications- Markov Chain</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s2">
    <button class="subj_btn2 sb2">
      Fintite Automata and Formal Languages - 402
    </button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/1KztpnXoTKjHJkpdbx2oOdqQJ_zX4CRRH/view?usp=drive_link"
              target="_blank"
              >FAFL Notes-1</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/13jnRtv6xnfPbT2zdTLqgeGEHLtI8JXBG/view?usp=sharing"
              target="_blank"
              >FAFL Notes-2</a
            >
          </li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/1Bblyaw4HB8NAp7qIGbSPV5YcP_f_f2DN/view?usp=sharing"
              target="_blank"
              >Properties of Regular Languages</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1rzF3x6QM3TKirr8Ng7L-Tirl2i-w9C0n/view?usp=drive_link"
              target="_blank"
              >Equivalence and Minimization of Automata</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1EuFFcE_0mT_VS-UbzK9esFvcQL5V3mqB/view?usp=drive_link"
              target="_blank"
              >FAFL Notes M2</a
            >
          </li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/1HnvJIuxrPlIwxzwyzkKP4DfZmEg9JY6C/view?usp=sharing"
              target="_blank"
              >Context-Free Grammars and Languages</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1HnvJIuxrPlIwxzwyzkKP4DfZmEg9JY6C/view?usp=sharing"
              target="_blank"
              >Pushdown Automata</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1VaCVp2nNqGR7TW566oeRb1umcnu_mVxp/view?usp=sharing"
              target="_blank"
              >FAFL Notes M3</a
            >
          </li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/14F7AmNdO7_bN1FH2dMfdghR19u3_-s2Z/view?usp=sharing"
              target="_blank"
              >Properties of Context-Free Languages</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1kwfbMp6HkbxOpF3Oq_6AH6mvNTD86G1U/view?usp=drive_link"
              target="_blank"
              >Introduction to Turing Machines</a
            >
          </li>
        </ul>
      </li>
      <li>
        Complete Notes
        <ul class="chapters">
          <li><a href="#" target="_blank">Chapter-1</a></li>
          <li><a href="#" target="_blank">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s3">
    <button class="subj_btn2 sb3">
      Object Oriented Programming with Java - 403
    </button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/11nGt0v0hR4aiUieG-JgwpQV53FI2aYBO/view?usp=sharing"
              target="_blank"
              >Java Intro</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1cnNQfk6IzWEqCrgI3cmGh1GUD84KXRow/view?usp=sharing"
              target="_blank"
              >M1 Part - 1</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1Qf_GaB6079Dow_7iTxvJvteBSDf_80A5/view?usp=sharing"
              target="_blank"
              >M1 Part - 2</a
            >
          </li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/1L8Y36P3wsi-5jMwCj3C6uNUx9ZwRchzQ/view?usp=sharing"
              target="_blank"
              >M2 Part - 1</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1YViKs7DI9aaEnKc1DiQZShGBs51ozSWl/view?usp=sharing"
              target="_blank"
              >M2 Part - 2(1)</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1SJ7owNdNQsvC4QiP9zHMr8itQ2wBJOfC/view?usp=sharing"
              target="_blank"
              >M2 Part - 2(2)</a
            >
          </li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/190u99ue3md8ne_2uUGv0RRUIgXkc7r24/view?usp=sharing"
              target="_blank"
              >M3 Part - 1</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1nWNHB_KHvSNJWP2xyeO_Z09_ZsNsu8G4/view?usp=drive_link"
              target="_blank"
              >M3 Part - 2</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1mThvfRebJ-ErE8jITg-XXdbTzZEYtLFm/view?usp=drive_link"
              target="_blank"
              >M3 Part - 3</a
            >
          </li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#" target="_blank">Chapter-1</a></li>
          <li><a href="#" target="_blank">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s4">
    <button class="subj_btn2 sb4">
      Design and Analysis of Algorithms - 404
    </button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s5">
    <button class="subj_btn2 sb5">
      Microcontroller and Emmbeeded Systems - 405
    </button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/1BQcEm6cCKAPbqfIUuUNskJvZwc4fDErr/view?usp=drive_link"
              target="_blank"
              >Microcontroller handwritten notes</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1lyh3o443I2P82vO6oaFOlehZSXsRJDqN/view?usp=drive_link"
              >MES M1 Summary</a
            >
          </li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/1mNrSL1kuFmvK8lgr2FuZS-GS3oGwFLD1/view?usp=drive_link"
              target="_blank"
              >M2 Part-1</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1LxoDounqYfldujOqgp_-gieavm0IaLl1/view?usp=drive_link"
              target="_blank"
              >M2 Part-2</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1-w5Tl3-owd5attPODdFVaJS4mf48O0tC/view?usp=drive_link"
              target="_blank"
              >M2 Part-3</a
            >
          </li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/1wC02hIVUKRiThLQwEDoLh-G0FFC0e0mM/view?usp=drive_link"
              >M3 Notes-1</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1KbHqqPKAOu_if9aliI1bptjv2-IFw3qT/view?usp=drive_link"
              >M3 Notes-2</a
            >
          </li>
          <li>
            <a
              href="https://docs.google.com/presentation/d/1RoGBnNjH7sDh-txSVmtDbkqJtDA5oCct/edit?usp=drive_link&ouid=111444645344485479526&rtpof=true&sd=true"
              target="_blank"
              >Single Register Load Store</a
            >
          </li>
          <li>
            <a
              href="https://docs.google.com/presentation/d/1lKignF5e-ppkGg-Xf27cTGUlFGPPNTW_/edit?usp=drive_link&ouid=111444645344485479526&rtpof=true&sd=true"
              target="_blank"
              >Multiple Register Load Store</a
            >
          </li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/1o7M1I1bSL8-Os1VGwtL7Wr9NZBHyGVzA/view?usp=sharing"
              target="_blank"
              >Mod4 notes - 1</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s6">
    <button class="subj_btn2 sb6">Software Engineering - 406</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s6">
    <button class="lab_btn2 sb7">Algorithms Laboratory - 407</button>
    <ul class="lab">
      <li>
        <a
          class="lab-manual"
          href="https://drive.google.com/file/d/1yAccJ3D6hn6mriO49tUBXBxH0wCRigee/view?usp=sharing"
          target="_blank"
          >Lab-manual</a
        >
      </li>
    </ul>
  </div>
</body>
<%- include("../../partials/footer") -%>
