<%- include("../../partials/header") -%>
<body>
  <!-- __________________________________Subjects____________________________________ -->

  <h2 class="head subj">Subjects</h2>
  <div class="subjects s1">
    <button class="subj_btn2 sb1">Statistics and Probability - 401</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s2">
    <button class="subj_btn2 sb2">
      Analog Communication and Switching Systems - 402
    </button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s3">
    <button class="subj_btn2 sb3">Signals and Systems - 403</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s4">
    <button class="subj_btn2 sb4">
      Microcontroller and Applications - 404
    </button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s5">
    <button class="subj_btn2 sb5">
      Electromagnetic Field Theory and Transmission Lines - 405
    </button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s6">
    <button class="subj_btn2 sb6">Microcontroller Laboratory - 406</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s6">
    <button class="lab_btn2 sb6">Communication Laboratory - 407</button>
    <ul class="lab">
      <li><a class="lab-manual" href="#">Lab-manuel</a></li>
    </ul>
  </div>

  <div class="subjects s6">
    <button class="subj_btn2 sb6">Software Engineering - 406</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>
</body>
<%- include("../../partials/footer") -%>
