<%- include("../../partials/header") -%>
<body>
  <!-- __________________________________Subjects____________________________________ -->

  <h2 class="head subj s1">Subjects</h2>
  <div class="subjects s1">
    <button class="subj_btn2 sb1">Statistics and Probability - 401</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/14mMMs2ZyqmID60Qb5o994scJg_Oz7Jvc/view?usp=sharing"
              target="_blank"
              >Correlation and Regression</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1ZO65MfWxJwniDpFkbs2uyERQUNpnjcF6/view?usp=sharing"
              target="_blank"
              >Random variable</a
            >
          </li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/1xOou2uEqsNiOm4wRBh9TXrVsHp1x1oC-/view?usp=drive_link"
              target="_blank"
              >Continuous Random Variable</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1Uw_eP8jb-CfxeAnPAaEWKXqUy3vvs-Fx/view?usp=sharing"
              target="_blank"
              >Applications</a
            >
          </li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/1hJt3ChdI6_wTj1bO26TrwmX5B52Gkxcs/view?usp=sharing"
              target="_blank"
              >Mod-3 Notes-1</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1FJMW3zPJPCdQi_jL-vlHslka6WFcH6ee/view?usp=sharing"
              target="_blank"
              >Mod-3 Notes-2</a
            >
          </li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/file/d/1W616A_-w5KOKg62xrWZue0ICNcvHYRyP/view?usp=sharing"
              target="_blank"
              >Module 4 complete notes</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/file/d/1rBbyQVNoo4LLan-QMW8_N8orKoZmdkCy/view?usp=sharing"
              target="_blank"
              >Applications- Markov Chain</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s2">
    <button class="subj_btn2 sb2">Electrical Network Analysis - 402</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        PYQS
        <ul class="chapters">
          <li>
            <a
              href="https://drive.google.com/drive/folders/1ZANaSw-DEvSdBsLTICopaFCitfWM-EMT?usp=drive_link"
              target="_blank"
              >NA</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s3">
    <button class="subj_btn2 sb3">
      Synchronous and Special Electrical Machines - 403
    </button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s4">
    <button class="subj_btn2 sb4">Microcontrollers - 404</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s5">
    <button class="subj_btn2 sb5">
      Electric Networks and Measurements Laboratory - 405
    </button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>
</body>
<%- include("../../partials/footer") -%>
