body a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: rgb(0, 0, 0);
  margin: 0%;
  text-align: center;
}

.container1 {
  background-color: black;
  display: flex;
  margin: 0px 7rem;
  padding: 10px;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo-img {
  background-color: black;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  height: 65px;
  margin: 2%;
}
.logo-name {
  font-family: "Sriracha", cursive;
  font-size: 1.55rem;
  color: white;
  margin-left: 2%;
  margin-bottom: 0%;
}

.side-bar {
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
  margin: 0%;
  margin-left: 2rem;
  padding: 0%;
}
.side-bar li a {
  text-decoration: none;
  color: white;
  font-family: "Inria Sans", sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.side-bar li a:hover {
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(255, 255, 255);
  border-radius: 7%;
}

.side-bar .bars {
  display: none;
  height: 17px;
}

.dropdown {
  display: none;
  background-color: black;
  text-align: center;
  height: 0px;
  font-family: "Inria Sans", sans-serif;
  font-size: 1.2rem;
}

.dropdown.open {
  height: 20%;

  /* overflow: hidden;
    transition: height 0.2s ease; */
}
.name {
  display: none;
  padding: 0%;
}

.dropdown li {
  list-style: none;
  padding: 1%;
}
.dropdown li:hover {
  border-style: solid;
  border-radius: 2px;
  border-color: rgb(255, 255, 255);
}
.dropdown a {
  text-decoration: none;
  color: white;
  /* border-style: solid;
    border-radius: 2px;
    border-color: rgb(255, 255, 255); */
  width: 1vw;
  padding-left: 40%;
  padding-right: 40%;
}

.show {
  display: block;
}
@media (max-width: 850px) {
  .container1 {
    margin: 0 5rem;
  }
}
@media (max-width: 650px) {
  .container1 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .side-bar li a {
    display: none;
  }
  .side-bar .bars {
    display: block;
  }
  .dropdown {
    display: block;
  }
  .logo-img {
    height: 55px;
  }
}
@media (max-width: 450px) {
  .container1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 350px) {
  .container1 {
    margin: 0rem;
  }
  .logo-img {
    height: 50px;
    margin-left: 2%;
  }

  .logo-name {
    font-size: 1.3rem;
  }
  .side-bar .bars {
    height: 15px;
  }

  .side-bar {
    margin-right: 5%;
    margin-left: 1rem;
  }
}
@media (max-width: 200px) {
  .logo-img {
    height: 40px;
    margin-left: 1%;
  }

  .logo-name {
    font-size: 1.1rem;
  }
}
/* ___________________________________main page _______________________________ */
.head_notes {
  font-family: "Inria Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  margin-top: 2%;
}
.yrcon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  padding: 50px;
}
.i {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.i1 {
  grid-area: 1/1/1/1;
}

.i2 {
  grid-area: 1/2/1/2;
}
.i3 {
  grid-area: 2/1/2/1;
}
.i4 {
  grid-area: 2/2/2/2;
}
.btn1 {
  font-family: "Inria Sans", sans-serif;
  font-size: 1.9rem;
  height: auto;
  width: 60%;
  background-color: white;
  border: solid black;
  border-radius: 15px;
  padding: 6%;
  text-align: center;
  transition-duration: 0.3s;
}

.btn1:hover {
  background-color: black;
  color: white;
}

.btn1:active {
  background-color: black;
  color: white;
}
@media (max-width: 650px) {
  .head_notes {
    font-weight: 600;
    font-size: 28px;
  }
  .yrcon {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px;
  }
  .i1 {
    grid-area: 1/1/1/1;
  }

  .i2 {
    grid-area: 2/1/2/1;
  }
  .i3 {
    grid-area: 3/1/3/1;
  }
  .i4 {
    grid-area: 4/1/4/1;
  }
  .btn1 {
    font-size: 1.5rem;
    width: 80%;
  }
}

@media (max-width: 250px) {
  .yrcon {
    padding-top: 15px;
  }
  .head_notes {
    font-weight: 600;
    font-size: 23px;
  }
  .btn1 {
    font-size: 1rem;
    width: 80%;
  }
}

/* _____________Anouncement button_____________________ */

.anoun {
  display: inline-block;
  text-align: center;
}

.announcements {
  position: relative;
  border-style: solid;
  border-radius: 15px;
  padding: 1%;
  width: 75%;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  font-size: 25px;
}
.announcements a {
  text-decoration: underline;
  color: rgb(108, 108, 108);
}
@media (max-width: 420px) {
  .announcements {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .announcements {
    font-size: 17px;
  }
}

@media (max-width: 250px) {
  .announcements {
    font-size: 17px;
  }
}

/* _____________Other features_____________________ */

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 3%;
  color: #ffffff;
}

.features a {
  text-decoration: none;
  font-family: "Inria Sans", sans-serif;
  display: block;
  border-width: 2px;
  font-size: 1.8rem;
  text-align: center;
  width: 20%;
  padding: 22px;
  margin-top: 1%;
  color: inherit;
  background: linear-gradient(45deg, grey, black, grey, black);
  background-size: 600% 600%;
  animation: gradientAnimation 10s ease infinite;
  border-radius: 10px;
  font-weight: 300;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (max-width: 950px) {
  .features a {
    width: 25%;
  }
}
@media (max-width: 800px) {
  .features a {
    width: 30%;
    padding: 17px;
    font-size: 1.4rem;
  }
}
@media (max-width: 650px) {
  .features a {
    width: 35%;
    font-size: 1.3rem;
  }
}
@media (max-width: 550px) {
  .features a {
    font-size: 1.4rem;
    width: 60%;
    padding: 18px;
  }
}

/* ____________________________branches _______________________________ */

.head {
  font-family: "Inria Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  margin-top: 2%;
}
.yrcon1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
  padding: 50px;
}
.b {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.b1 {
  grid-area: 1/1/1/1;
}

.b2 {
  grid-area: 1/2/1/2;
}
.b3 {
  grid-area: 1/3/1/3;
}
.b4 {
  grid-area: 2/1/2/1;
}
.b5 {
  grid-area: 2/2/2/2;
}
.b6 {
  grid-area: 2/3/2/3;
}
.b7 {
  grid-area: 3/2/3/2;
}

.btn2 {
  font-family: "Inria Sans", sans-serif;
  font-size: 1.9rem;
  height: auto;
  width: 60%;
  background-color: white;
  border: solid black;
  border-radius: 15px;
  padding: 6%;
  text-align: center;
  transition-duration: 0.3s;
}

.btn2:hover {
  background-color: black;
  color: white;
}

@media (max-width: 750px) {
  .head {
    font-weight: 600;
    font-size: 28px;
  }
  .yrcon1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px;
  }
  .b1 {
    grid-area: 1/1/1/1;
  }

  .b2 {
    grid-area: 2/1/2/1;
  }
  .b3 {
    grid-area: 3/1/3/1;
  }
  .b4 {
    grid-area: 4/1/4/1;
  }
  .b5 {
    grid-area: 5/1/ 5/1;
  }
  .b6 {
    grid-area: 6/1/6/1;
  }
  .b7 {
    grid-area: 7/1/7/1;
  }
  .btn2 {
    font-size: 1.9rem;
    width: 80%;
  }
}

@media (max-width: 250px) {
  .yrcon1 {
    padding-top: 15px;
  }
  .head {
    font-weight: 600;
    font-size: 23px;
  }
  .btn2 {
    font-size: 1rem;
    width: 80%;
  }
}

/* ____________________________sem dropdown_____________________________________ */
.sem {
  position: absolute;
  border-radius: 10px;
  margin-top: 6.9%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  list-style: none;
  background-color: black;
  color: white;
  text-align: center;
  align-content: center;
  padding: 0px;
  width: auto;
  display: none;
  font-size: 17px;
}

button {
  all: unset;
}
button:focus {
  outline: revert;
}
.sem button:hover {
  background-color: white;
  color: black;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
}
.popup {
  display: flex;
  flex-direction: column;
}

.sem .first-sem {
  grid-area: 1/1/1/2;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
}
.sem .second-sem {
  grid-area: 2/1/2/2;
}

.sem .first-sem,
.sem .second-sem {
  padding: 30px;
  border-radius: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
}

@media (max-width: 750px) {
  .sem .first-sem,
  .sem .second-sem {
    padding: 20px;
  }
  .sem {
    text-align: center;
    margin-top: 4%;
    width: auto;
  }

  .popup {
    display: flex;
    flex-direction: row;
  }
  /* .b:hover {
    .sem {
      display: flex;
      flex-direction: row;
    }
  } */
}

@media (max-width: 420px) {
  .sem {
    text-align: center;
    margin: 4% 0px;
    font-size: 14px;
  }
}

@media (max-width: 250px) {
  .first-sem,
  .second-sem {
    padding: 5px;
  }
  .sem {
    text-align: center;
    margin-top: 4%;
    font-size: 12px;
  }
}

/* _________________________________cycles for first year __________________________________ */

.head {
  font-family: "Inria Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  margin-top: 2%;
}
.yrcon2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  padding: 50px;
}
.m {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.m1 {
  grid-area: 1/1/1/1;
}

.m2 {
  grid-area: 1/2/1/2;
}

.btn3 {
  font-family: "Inria Sans", sans-serif;
  font-size: 1.9rem;
  height: auto;
  width: 60%;
  background-color: white;
  border: solid black;
  border-radius: 15px;
  padding: 6%;
  text-align: center;
  transition-duration: 0.3s;
}

.btn3:hover {
  background-color: black;
  color: white;
}

@media (max-width: 750px) {
  .head {
    font-weight: 600;
    font-size: 28px;
  }
  .yrcon2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px;
  }
  .m1 {
    grid-area: 1/1/1/1;
  }

  .m2 {
    grid-area: 2/1/2/1;
  }

  .btn3 {
    font-size: 1.9rem;
    width: 80%;
  }
}

@media (max-width: 250px) {
  .yrcon2 {
    padding-top: 15px;
  }
  .head {
    font-weight: 600;
    font-size: 23px;
  }
  .btn3 {
    font-size: 1rem;
    width: 80%;
  }
}

/* ____________________________subjects/modules________________________________________ */

.head {
  font-family: "Inria Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  margin-top: 2%;
}

.subjects {
  text-align: center;
}

.subj_btn2 {
  font-family: "Inria Sans", sans-serif;
  font-size: 1.9rem;
  width: 80%;
  background-color: white;
  border: solid black;
  border-radius: 15px;
  padding: 1%;
  text-align: center;
  margin-top: 1.5%;
  box-shadow: 0 8px #999;
}
.subj_btn2:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.modules {
  display: none;
  text-align: center;
  justify-content: center;
  margin-top: 1%;
}

.modules .lab-manual:hover {
  border-radius: 15px;
  background-color: black;
  color: #ffffff;
}

.modules .chapters li a:hover {
  color: #ffffff;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
}
.chapters {
  display: none;
  margin-bottom: 1.5%;
}

.chapters li {
  width: 100%;
}

.modules li:hover {
  background-color: black;
  color: white;
}
.modules li a {
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}
.lab li a {
  display: block;
  width: 100%;
  height: 100%;
}

/* .modules li:active {
    .chapters li {
      display: block;
    }
    color: blue;
  } */
.chapters {
  padding-left: 20px;
}
.clickshow {
  display: block;
}
.modules li {
  justify-content: center;
  text-align: center;
  font-family: "Inria Sans", sans-serif;
  font-size: 1.9rem;
  color: black;
  background-color: white;
  border: solid black;
  border-radius: 15px;
  list-style: none;
  width: 60%;
  margin-left: 20%;
  margin-top: 0.5%;
  cursor: pointer;
}
/* _______________________lab manuel_________________ */

.lab_btn2 {
  font-family: "Inria Sans", sans-serif;
  font-size: 1.9rem;
  width: 80%;
  background-color: white;
  border: solid black;
  border-radius: 15px;
  padding: 1%;
  text-align: center;
  margin-top: 1.5%;
  box-shadow: 0 8px #999;
}

.lab_btn2:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.lab {
  display: none;
  text-align: center;
  justify-content: center;
  margin-top: 1%;
}
.lab li {
  justify-content: center;
  text-align: center;
  font-family: "Inria Sans", sans-serif;
  font-size: 1.9rem;
  color: black;
  background-color: white;
  border: solid black;
  border-radius: 15px;
  list-style: none;
  width: 60%;
  margin-left: 20%;
  margin-top: 0.5%;
  cursor: pointer;
}

.lab li:hover {
  background-color: black;
  color: white;
}
.modules .lab-manual:hover {
  border-radius: 15px;
  background-color: black;
  color: #ffffff;
}
.showup {
  display: block;
}

.subjects button:hover {
  background-color: rgb(242, 242, 242);
}

@media (max-width: 750px) {
  .lab,
  .modules {
    margin-top: 2.3%;
  }

  .lab_btn2,
  .subj_btn2 {
    font-size: 1.4rem;
    margin-top: 3.2%;
  }
  .modules .chapters li a:active {
    color: #ffffff;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
  }

  .modules li a {
    text-align: center;
    border-radius: 7px;
    font-size: 1.3rem;
  }
  .lab li,
  .modules li {
    width: 70%;
    border-radius: 8px;
    font-size: 1.4rem;
    margin-left: 12%;
  }
}

@media (max-width: 420px) {
  .lab,
  .modules {
    margin-top: 3.5%;
  }
  .lab li,
  .modules li {
    font-size: 1.3rem;
    margin-left: 10%;
  }

  .modules li a {
    border-radius: 2px;
    font-size: 1.1rem;
  }
  .lab_btn2,
  .subj_btn2 {
    border-radius: 10px;
    font-size: 1.4rem;
    margin-top: 3.2%;
  }
}
/*------------------------------------------------------- footer css------------------------------------------------------ */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}
.f {
  margin-top: 50px;
  height: 30vh;
  width: auto;
  background-color: #000000;
  padding: 20px 40px;
}

.notop {
  margin-top: 0px;
}

.foot {
  display: flex;
  justify-content: space-between;
}
.foot .copy {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.716);
}
.copy {
  font-weight: 0;
}
.f hr {
  border-color: rgb(209, 205, 205);
  border-width: 2px;
}
.foot .logo-img {
  height: 50px;
  width: 50px;
}
/* -----------------------------------------------------social media----------------------------------------------------------- */
.sm {
  display: flex;
  justify-content: center;
}
.sm .social {
  margin: 30px;
  text-decoration: none;
  color: white;
}
svg {
  width: 35px;
  height: 35px;
}
.social .bi-twitter-x {
  width: 35px;
  height: 40px;
}

/* ---------------------------------------------------------reponsive -----------------------------------------------------*/
@media (max-width: 2000px) {
  .sm {
    display: flex;
    justify-content: center;
  }
  .sm .social {
    margin: 30px;
    text-decoration: none;
    color: white;
  }
  svg {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 768px) {
  .f {
    height: auto;
    padding: 20px;
  }

  .foot {
    flex-direction: column;
    align-items: center;
  }
  .copy {
    margin-top: 10px;
  }

  .sm .social {
    margin: 15px;
  }

  svg {
    width: 40px;
    height: 40px;
  }
}

html {
  user-select: none;
}
/* ------------------------------------------------about page--------------------- */

.about_con {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.about_img {
  margin-left: -10%;
  width: 45%;
}

.team_div {
  background-color: #000000;
  display: flex;
  justify-content: center;
}
.text1 {
  border-left: 2px solid transparent;
  border-image: linear-gradient(transparent, white, transparent) 1;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 1%;
  border-radius: 5px;
  margin-top: 4%;
  background-color: #000000;
  color: #ffffff;
  width: 30%;
  padding: 2%; /* Add padding for spacing within the container */
  font-family: "Kelly Slab", cursive;
}

.text1 h1 {
  font-size: 3rem;
}

.text1 h2 {
  font-size: 2rem;
}
.about_text * {
  margin: 5%;
}
@media (max-width: 1000px) {
  .text1 h1 {
    font-size: 2.5rem;
  }

  .text1 h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 800px) {
  .text1 h1 {
    font-size: 2rem;
  }

  .text1 h2 {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  .about_con,
  .team_div,
  .about_div {
    justify-content: center;
    text-align: center;
    display: block;
    align-items: center;
    align-content: center;
    margin-right: 0%;
    margin-top: 0%;
  }
  .text1 {
    width: 45%;
    border-top: 2px solid transparent; /* Set the desired border width */
    border-image: linear-gradient(to right, transparent, white, transparent);
    border-image-slice: 1;
    text-align: left;
    margin-right: 0%;
    margin-left: 29%;
  }
  .text1 h1 {
    text-align: center;
    font-size: 1.3rem;
  }

  .text1 h2 {
    text-align: center;
    font-size: 0.7rem;
  }

  .about_img {
    margin-left: -5%;
    width: 70%;
  }
}

/* -----------------------contact page--------------------------- */
.contact1 {
  text-align: center;
  position: relative; /* Add this line to make the .su element a positioning context */
  overflow: hidden;
}

.contact1 a {
  color: white;
  position: absolute;
  top: 0; /* Adjust the top position as needed */
  left: 0; /* Adjust the left position as needed */
  top: 50%; /* Place the link vertically at 50% of the parent's height */
  left: 50%; /* Place the link horizontally at 50% of the parent's width */
  transform: translate(-50%, -50%); /* Center the link using a transform */
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 1.6rem;
  padding: 0.7%;
  border-radius: 10px;
}

.contact2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 1%;
  text-align: center;
  font-size: 1.5rem;
}

.contact2 a {
  text-decoration: none;
  background-color: #000000;
  border-radius: 10px;
  padding: 1%;
  color: #ffffff;
  font-size: 1.5rem;
}

.contact2 h3 {
  margin-bottom: 2%;
  font-size: 1.8rem;
}

@media (max-width: 750px) {
  .contact1 a {
    font-size: 1.3rem;
    padding: 1%;
    border-radius: 10px;
  }

  .contact2 h3 {
    margin-bottom: 3%;
    font-size: 1.5rem;
  }

  .contact2 a {
    padding: 2%;
    font-size: 1.3rem;
  }
}

@media (max-width: 550px) {
  .contact1 a {
    font-size: 1.1rem;
  }
  .contact2 {
    margin-top: 3%;
    padding: 1.5%;
  }

  .contact2 h3 {
    margin-bottom: 3%;
    font-size: 1.3rem;
  }

  .contact2 a {
    padding: 2.5%;
    font-size: 1.1rem;
  }
}

@media (max-width: 400px) {
  .contact1 a {
    font-size: 1rem;
    padding: 2%;
  }

  .contact2 h3 {
    font-size: 0.9rem;
  }

  .contact2 a {
    padding: 4%;
    font-size: 0.9rem;
  }
}
.preloader {
  background-color: #ffffff;
  position: fixed;
  z-index: 999999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
