<%- include("../../partials/header") -%>
<body>
  <!-- __________________________________Subjects____________________________________ -->
  <div class="subjects s7">
    <button class="subj_btn2 sb7">
      Intellectual Property Rights and Cyber Law - 804
    </button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s7">
    <button class="subj_btn2 sb7">Elective-V</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>
</body>
<%- include("../../partials/footer") -%>
