<%- include("../../partials/header"); -%>
<body>
  <!-- __________________________________Subjects____________________________________ -->

  <h2 class="head subj s1">Subjects</h2>
  <div class="subjects">
    <button class="subj_btn2 sb1">
      Linear Algebra and Integral Transforms - 301
    </button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s2">
    <button class="subj_btn2 sb2">
      Graph Theory and Discrete Mathematical Structures - 302
    </button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s3">
    <button class="subj_btn2 sb3">Digital Systems Design- 303</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s4">
    <button class="subj_btn2 sb4">
      Data Structures and Applications - 304
    </button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s5">
    <button class="subj_btn2 sb5">Computer Organization - 305</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subjects s6">
    <button class="subj_btn2 sb6">Unix and Shell Programming - 306</button>
    <ul class="modules">
      <li>
        Module-1
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-2
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-3
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
      <li>
        Module-4
        <ul class="chapters">
          <li><a href="#">Chapter-1</a></li>
          <li><a href="#">Chapter-2</a></li>
        </ul>
      </li>
    </ul>
  </div>
</body>
<%- include("../../partials/footer") -%>
